/* Importação da fonte do Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin: 0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    font-family: "Roboto", sans-serif;    
 }
/* Estilos padrão */
body {
    background-image: url("https://github.com/R0bs0nRamos/Grupo11/blob/main/Grupo11_index.html/img.grupo11/ab.jpg?raw=true");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.login-container {
    background: linear-gradient(to bottom, #0000ff, #000000);
    color: aliceblue;
    max-width: 800px;
    margin: 70px auto;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: #007bff;
}

.login-container h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me input {
    margin-right: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#message {
    margin-top: 15px;
    color: red;
}

/* Media Queries para tablets (768px) */
@media screen and (max-width: 768px) {
    .login-container {
        max-width: 600px;
        padding: 40px;
        margin: 50px auto;
    }
}

/* Media Queries para celulares (480px) */
@media screen and (max-width: 480px) {
    .login-container {
        max-width: 90%;
        padding: 30px;
        margin: 30px auto;
    }
}