@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background-image: url("https://github.com/R0bs0nRamos/Grupo11/blob/main/Grupo11_index.html/img.grupo11/ab.jpg?raw=true");
  background-size: cover; /* Faz com que a imagem cubra toda a área do body */
  background-repeat: no-repeat; /* Evita a repetição da imagem */
  background-position: center center; /* Centraliza a imagem */
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Garante que o body ocupe toda a altura da janela */
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

#form {
  background: linear-gradient(to bottom, #0000ff, #000000);
  color: white;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.field {
  margin-bottom: 20px;
}

.field label {
  display: block;
  font-size: 15px;
  color: #777;
}

.field input,
.field textarea {
  display: block;
  width: 100%;
  line-height: 1.5;
  font-size: 14px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  display: block;
  padding: 6px 30px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

input[type="submit"]:hover {
  background-color: #0056b3; /* Color de fundo mas escura para el hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona una sombra */
}

/* Responsividad para tablets */
@media (max-width: 768px) {
  #form {
    width: 80%;
    padding: 20px;
  }

  .field input,
  .field textarea {
    font-size: 16px;
  }

  input[type="submit"] {
    font-size: 16px;
    padding: 8px 30px;
  }
}

/* Responsividad para telefono */
@media (max-width: 480px) {
  #form {
    width: 90%;
    padding: 15px;
  }

  .field input,
  .field textarea {
    font-size: 18px;
  }

  input[type="submit"] {
    font-size: 18px;
    padding: 10px 30px;
  }
}
